Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library
Sidescroller-prototype.sln
Sidescroller-prototype.userprefs
Temp
UnityPackageManager
obj
_Creepy_Cat
"Fighter Pack Bundle"
FightingMotionsVolume1
"The Amazing Impact VFX"
